<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdalogin">

    <application>
        <!-- 登录 -->
        <activity
            android:name=".login.LoginMainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTop" />

        <!-- 选择租户 -->
        <activity
            android:name=".enterprise.LoginChooseEnterpriseActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTop" />
    </application>
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>-->
<!--    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>-->

</manifest>