<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jd.saas.pdadelivery">

    <application>
        <activity
            android:name=".manage.DeliveryManageActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".detail.DeliveryDetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>