<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jd.saas.pdacheck">

    <application>
        <activity
            android:name=".record.CheckRecordActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".list.CheckListActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".check.CheckGoodsCheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".flow.CheckFlowMainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".newtask.CheckNewTaskActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".category.CheckCategoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>